body {
    background-color: #212529;
    color: #E9ECEF;
}

.pName h1 {
    font-size: 50px;
    transform: rotate(-33deg);
    margin: 5%;
}

.navbar {
    justify-content: center;
    position: sticky;
}

.pictures {
  justify-content: center;  
}

.pictures img {
    height: 300px;
    width: 250px;
}

.infoMid {
    background-color: #6C757D;
    color: #F8F9FA;
}
.info p {
    text-align: center;
    justify-content: center;
}

.info1 {
    width: 400px;
    height: 300px;
}

.info2 {
    width: 400px;
    height: 300px;
}

.info3 {
    width: 400px;
    height: 300px;
}
 
.pricingInfo table {
width: 80%;
margin: 0 auto;
margin-top: 5%;
}

.contactInfo li {
    list-style-type: none;
}

.contactInfo {
    Margin-top: 5%;
}

.contactInfo h2 {
    text-decoration: underline;
}